body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: #2571B7;
    height: 48px;
    display: flex;
    align-items: center;
}

div.navbar {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

button {
    display: flex;
    background-color: transparent;
    font-size: 14px;
    color: white;
    align-items: center;
    justify-content: center;
}

button.menu img{
    height: 24px;
    width: 24px;
    
}

button.btn-nav{
    height: 26px;
    width: 113px;
    background-color: #002050;
}
div.texto {
    display: flex;
    flex-direction: column;
    margin-top: 137px;
    margin-bottom: 60px;
}

h1.titulo {
    text-align: center;
    color: #fff;
    font-size: 42px;
}

h2.subtitulo {
    text-align: center;
    color: #fff;
    font-size: 24px;
}

div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button.btn-home{
    background-color: #00A4EF;
    font-size: 21px;
    height: 52px;
    width: 188px;
    text-align: center;
    margin-bottom: 100px;
}

section#secao1 {
    display: flex;
    background-image: url("/assets/img/fundo_1.png");
    background-position: cover;
    background-position: center center;
    justify-content: space-between;
    flex-direction: column;
}
.logo {
    margin-bottom: 27px;
}

section#secao2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 60px;
}

p.texto{
    font-size: 15px;
    color: #737373;
    text-align: center;
}

h2.titulo{
    font-size: 24px;
    color: #2571B7;
}

section#secao3 {
    display: flex;
    flex-direction: column;
    margin-top: 27px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 45px;
}

.cards {
    height: 124px;
    margin-bottom: 15px;
}

.cards .card {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

#secao3 img {
    justify-content: center;
    margin-left: 18px;
}
.card-azul {
    background-color: #0072C6;
}
.card-azul-escuro {
    background-color: #2C5898;
}
.card-verde {
    background-color: #207245;
}
.card-laranja {
    background-color: #CB4A32;
}
.card-violeta {
    background-color: #733781;
}
.card-azul-claro {
    background-color: #00AFF0;
}
.card-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 21px;
}
.card-text p {
    font-size: 12px;
    margin-top: 6px;
}
.card-text p.titulo{
    font-size: 24px;
    margin-top: 21px;
    margin-bottom: 0px;
}

section#secao4 {
    margin-left: 18px;
    margin-right: 18px;
}

.box {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 21px;
    margin-top: 21px;
}
.text-img {
    display: flex;
    flex-wrap: nowrap;
}
.box .title {
    size: 15px;
}
.box .text {
    color: #737373;
    size: 12px;
    text-align: left;
    margin-right: 18px;
}
.green .box-button button{
    color: #7FBA00;
    border-color: #7FBA00;
}
.green .title {
    color: #7FBA00;
}
.blue .box-button button{
    color: #00A4EF;
    border-color: #00A4EF;
}
.blue .title {
    color: #00A4EF;
}
.yellow .box-button button{
    color: #FFB900;
    border-color: #FFB900;
}
.yellow .title {
    color: #FFB900;
}
.blocks {
    margin-top: 33px;
    margin-bottom: 60px;
    margin-left: 18px;
    margin-right: 18px;
}
.block {
    border: 3px solid #DEDEDE;
}
.block .title {
    color: #F25022;
}
.block .text {
    color: #737373;
    size: 12px;
    text-align: center;
}
#secao6 {
    display: flex;
    background-image: url(/assets/img/fundo_2.png);
    background-size: cover;
    background-position: center center;
}

#secao6 p {
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: 42px;
    margin-bottom: 42px;
    margin-left: 18px;
    margin-right: 18px;
}

#secao7 .text {
    font-size: 15px;
    color: #737373;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 27px;
    margin-left: 18px;
    margin-right: 18px;
}
.campo-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 21px;
}
.campo-form label {
    color: #737373;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 6px;
}
.campo-form input {
    height: 44px;
    width: 288px;
}
fieldset {
    background-color: #E6E6E6;
    border: 0px;
    height: 535px;
}
fieldset button {
    height: 52px;
    width: 288px;
    background-color: #00A4EF;
    margin-top: 36px;
    font-size: 21px;
}

footer {
    padding: 20px;
}
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.footer-img {
    display: flex;
    justify-content: space-between;
}
footer p{
    width: 202px;
    height: 16px;
    color: #B4B4B4;
    text-align: center;
}